* { margin:0; padding:0; } /* to remove the top and left whitespace */
html, body { width:100%; height:100%; } /* just to be sure these are full screen*/
body{
background: #000;
}
canvas {
    display:block;
    background-image:url("/img/game_bg.png");
    background-color:#25284E;
    width:1440px;
    height:900px;
    margin:0 auto;
}


#controlpanel{
    display:none;
    position:absolute;
    bottom:0px;
    width:100%;
    padding:40px;
    background-color:#d3d3d3;
    height:20%;
}


#login{
    z-index:999;
    width:100%;
    height:100%;
    position:absolute;
}

#login div{
    position:absolute;
    top:80px;
    left:520px;
    width:350px;
    height:200px;
    padding:30px;
    margin:0 auto;
}

#login div img{
    margin-bottom:100px;
    margin-left:-20px;
}

#login div label{
    display:block;
    height:40px;
    font-size:40px;
    color:#f3f3f3;
    margin:10px 0px;
}

#login div input,
#login div button,
#login div select{
    display:block;
    background:#f3f3f3;
    height:50px;
    border-radius:20px;
    border:none;
    width:100%;
    text-align:center;
    font-size:20px;
    margin-bottom:30px;
}

#login div button{
    background-color:#FDD931;
    padding:5px 20px;
    color:#000;
    font-size:20px;
    display:block;
    width:100%;
}
